.about-us-section {
  padding: 50px 20px;
  text-align: center;
}

.about-us-heading {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.about-us-container {
  display: flex;
}


.about-us-content {
  width: 30%;
}


.about-us-content h3::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}


.about-us-content h3.active::before {
  background-color: #007BFF; /* Change this color to your desired active color */
}