.contact-us-section {
  padding: 20px;
}

.contact-us-heading {
  text-align: center;
  margin-bottom: 20px;
}

.contact-us-container {
  display: flex;
  align-items: flex-start;
}

.contact-info {
  flex: 1;
  margin-right: 20px;
  display: flex;
  max-width: 50%;
  flex-wrap: wrap;
}

.contact-card {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-card h3 {
  margin-top: 0;
}

.contact-form {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 12px;
  flex: 1;
  
  border: 1px solid #ddd;
  max-width: 500px;
}

.form-field {
  margin-bottom: 15px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
}

.form-field input,
.form-field textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}